* {
    margin: 0;
    box-sizing: border-box;
}

.cont-multiplicacion, .cont-division {
    display: none;
}

input {
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: cursive;
    font-weight: 900;
    border-style: ridge;
    outline: none;
    padding: 2px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: none;
    transition: background-color 1s;
}

input:hover {
    background-color: rgb(240, 240, 240);
}

label {
    font-size: 18px;
    margin-bottom: 12px;
}

body {
    font-family: cursive;
    background-color: rgb(255, 255, 255);
    transition: background-color 1s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 70vw;
    height: 80vh;
    border-radius: 30px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border: 20px double rgb(0, 0, 0);
    box-shadow: none;
    overflow: hidden;
    transition: none;
    animation: none;
}

@keyframes float {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }

}

.cont-present {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: absolute;
    background-color: rgb(235, 235, 235);
    width: 75%;
    height: 80%;
    border: 10px double rgb(0, 0, 0);
    border-radius: 30px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: none;
    transition: none;
}

.cont-present:hover {
    width: 80%;
    height: 85%;
}


.cont-present__paragraph {
    width: 95%;
    font-size: 20px;
}

.cont-present__title {
    font-size: 30px;
}

.cont-arrows {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.arrow-left {
    display: none;
    position: absolute;
    align-self: flex-start;
    font-size: 70px;
    width: max-content;
    height: max-content;
    background: none;
    border: none;
    cursor: pointer;
    transition: none;
    z-index: 1;
    animation: none;
}

.arrow-left:hover {
    font-size: 80px;
    transform: translateX(5px);
}

@keyframes move2 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px);
    }
}

.arrow-rigth {
    position: absolute;
    align-self: flex-end;
    font-size:  70px;
    width: max-content;
    height: max-content;
    background: none;
    border: none;
    cursor: pointer;
    transition: none;
    z-index: 1;
    animation: none;
}

.arrow-rigth:hover {
    font-size: 80px;
    transform: translateX(-5px);
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0px);
    }
}

.arrow-bottom {
    display: block;
    position: absolute;
    bottom: 5px;
    font-size:  17px;
    font-family: cursive;
    font-weight: 900;
    width: max-content;
    height: max-content;
    background: none;
    border: none;
    cursor: pointer;
    transition: none;
    z-index: 1;
    transition: none;
    animation: none;
    width: 125px;
    transform: translateY(200px);
}

.arrow-bottom p {
    position: absolute;
    bottom: -7px;
    left: 1px;
    width: 120px;
    height: 50px;
}

.arrow-bottom p:hover {
    font-size: 19px;
    transform: translateY(-5px);
}

@keyframes move6 {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-5px);
    }
}

.arrow-top {
    display: block;
    position: absolute;
    top: 1px;
    font-size:  17px;
    font-family: cursive;
    font-weight: 900;
    width: max-content;
    height: max-content;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    animation: none;
    transform: translateY(-200px);
}

.arrow-top p {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    width: 45px;
    height: 40px;
    top: 2px;
    transition: none;
}

.arrow-top p:hover {
    font-size: 19px;
    transform: translateY(5px);
}

@keyframes move4 {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(5px);
    }
}

.arrow-configuration {
    position: absolute;
    top: 0;
    font-size: 17px;
    font-weight: 900;
    width: max-content;
    height: max-content;
    background: none;
    border: none;
    cursor: pointer;
    transition: none;
    z-index: 1;
    font-family: cursive;
    transition: none;
}

.arrow2-left {
    display: block;
    position: absolute;
    left: 0;
    background: none;
    border: none;
    font-family: cursive;
    font-size: 17px;
    cursor: pointer;
    width: max-content;
    height: max-content;
    font-weight: 900;
    transform: translateX(-200px);
}

.arrow2-left p {
    position: absolute;
    top: -10px;
    left: 5px;
    font-size: 30px;
    width: 72px;
    display: flex;
    justify-content: end;
}

.arrow2-left p:hover {
    font-size: 35px;
    top: -14px;
    transform: translateX(5px);
}

@keyframes move5 {
    0% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}

.arrow2-rigth {
    display: block;
    position: absolute;
    right: 0;
    background: none;
    border: none;
    font-family: cursive;
    font-size: 17px;
    cursor: pointer;
    width: max-content;
    height: max-content;
    font-weight: 900;
    transform: translateX(200px);
}

.arrow2-rigth p {
    display: flex;
    justify-content: start;
    position: absolute;
    width: 85px;
    top: -10px;
    right: 5px;
    font-size: 30px;
}

.arrow2-rigth p:hover {
    font-size: 35px;
    top: -13px;
    transform: translateX(-5px);
}

@keyframes move7 {
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(-5px);
    }
}

.arrow-config {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    width: 110px;
    height: 50px;
    top: 0;
    right: 0.5px;
    animation: none;
    transition: none;
}

.arrow-config:hover {
    transform: translateY(-7px);
}

@keyframes move3 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0px);
    }
}

.arrow-configuration2 {
    display: none;
    position: absolute;
    top: 23px;
    font-size: 17px;
    font-weight: 900;
    width: max-content;
    height: max-content;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 1s;
    z-index: 1;
    font-family: cursive;
    transition: none;
}

.arrow-config2 {
    display: flex;
    justify-content: center;
    align-items: start;
    position: absolute;
    top: -24px;
    right: -19px;
    width: 110px;
    height: 47px;
    animation: none;
    transition: none;
}

.arrow-config2:hover {
    transform: translateY(7px);
}

@keyframes move4 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* SUMA */

.cont-suma {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    background-color: rgb(235, 235, 235);
    width: 75%;
    height: 80%;
    border: 10px double rgb(0, 0, 0);
    border-radius: 30px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: none;
    transform: translateX(900px);
    opacity: 0;
    transition: none;
}

.cont-suma:hover {
    width: 80%;
    height: 85%;
}

.cont-suma__title {
    text-align: center;
    grid-column: 1/5;
    font-size: 28px;
}

.cont-suma img {
    width: 40px;
    cursor: pointer;
    animation: none;
}

@keyframes rotateImage1 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }

}

.cont-suma table {
    
    grid-column: 1/3;
    width: 150px;
    justify-self: center;
}

#cont-suma__table1-img {
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    
}

.cont-suma__cont-form {
    grid-column: 3/5;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.cont-suma__cont-form label {
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    grid-row: 2/3;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cont-suma__cont-form input {
    grid-column: 1/2;
    text-align: center;
    align-self: end;
    grid-row: 2/3;
    height: max-content;
    width: max-content;
}

.cont-suma__cont-form button {
    grid-column: 1/2;
    height: max-content;
    width: max-content;
    justify-self: center;
    grid-row: 3/5;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: cursive;
    font-weight: 900;
    box-shadow: none;
}

.ampersand-suma {
    position: absolute;
    bottom: 39.5%;
    left: 23%;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 35px;
}

/* RESTA */

.cont-resta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    background-color: rgb(235, 235, 235);
    width: 75%;
    height: 80%;
    border: 10px double rgb(0, 0, 0);
    border-radius: 30px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: none;
    transform: translateX(900px);
    opacity: 0;
    transition: none;
}

.cont-resta:hover {
    width: 80%;
    height: 85%;
}

.cont-resta__title {
    text-align: center;
    grid-column: 1/5;
    font-size: 28px;
}

.cont-resta img {
    width: 40px;
    cursor: pointer;
    animation: none;
}

@keyframes rotateImage2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(20deg);
    }

}

.cont-resta table {
    
    grid-column: 1/3;
    width: 150px;
    justify-self: center;
}

#cont-resta__table1-img {
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    
}

.cont-resta__cont-form {
    grid-column: 3/5;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.cont-resta__cont-form label {
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    grid-row: 2/3;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cont-resta__cont-form input {
    grid-column: 1/2;
    text-align: center;
    align-self: end;
    grid-row: 2/3;
    height: max-content;
    width: max-content;
}

.cont-resta__cont-form button {
    grid-column: 1/2;
    height: max-content;
    width: max-content;
    justify-self: center;
    grid-row: 3/5;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: cursive;
    font-weight: 900;
    box-shadow: none;
}

.ampersand-resta {
    position: absolute;
    bottom: 39%;
    left: 23%;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 35px;
}

/* MULTIPLICACION */

.cont-multiplicacion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    background-color: rgb(235, 235, 235);
    width: 75%;
    height: 80%;
    border: 10px double rgb(0, 0, 0);
    border-radius: 30px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: none;
    transform: translateX(900px);
    opacity: 0;
    transition: none;
}

.cont-multiplicacion:hover {
    width: 80%;
    height: 85%;
}

.cont-multiplicacion__title {
    text-align: center;
    grid-column: 1/5;
    font-size: 28px;
}

.cont-multiplicacion img {
    width: 40px;
    cursor: pointer;
    animation: none;
}

@keyframes rotateImage3 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }

}

.cont-multiplicacion table {
    grid-column: 1/3;
    width: 150px;
    justify-self: center;
}

#cont-multiplicacion__table1-img {
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    
}

.cont-multiplicacion__cont-form {
    text-align: center;
    grid-column: 3/5;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.cont-multiplicacion__cont-form label {
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    grid-row: 2/3;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cont-multiplicacion__cont-form input {
    grid-column: 1/2;
    text-align: center;
    align-self: end;
    grid-row: 2/3;
    height: max-content;
    width: max-content;
}

.cont-multiplicacion__cont-form button {
    grid-column: 1/2;
    height: max-content;
    width: max-content;
    justify-self: center;
    grid-row: 3/5;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: cursive;
    font-weight: 900;
    box-shadow: none;
}

.ampersand-multiplicacion {
    position: absolute;
    bottom: 39.5%;
    left: 23%;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 35px;
}

/* DIVISION */

.cont-division {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    background-color: rgb(235, 235, 235);
    width: 75%;
    height: 80%;
    border: 10px double rgb(0, 0, 0);
    border-radius: 30px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: none;
    transform: translateX(900px);
    opacity: 0;
    transition: none;
}

.cont-division:hover {
    width: 80%;
    height: 85%;
}

.cont-division__title {
    text-align: center;
    grid-column: 1/5;
    font-size: 28px;
}

.cont-division img {
    width: 40px;
    cursor: pointer;
    animation: none;
}

@keyframes rotateImage4 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }

}

.cont-division table {
    
    grid-column: 1/3;
    width: 150px;
    justify-self: center;
}

#cont-division__table1-img {
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    
}

.cont-division__cont-form {
    text-align: center;
    grid-column: 3/5;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.cont-division__cont-form label {
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    grid-row: 2/3;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cont-division__cont-form input {
    grid-column: 1/2;
    text-align: center;
    align-self: end;
    grid-row: 2/3;
    height: max-content;
    width: max-content;
}

.cont-division__cont-form button {
    grid-column: 1/2;
    height: max-content;
    width: max-content;
    justify-self: center;
    grid-row: 3/5;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: cursive;
    font-weight: 900;
    box-shadow: none;
}

.ampersand-division {
    position: absolute;
    bottom: 39%;
    left: 23%;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-size: 35px;
}

/* CONFIGURACIONES */

.cont-configuration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    background-color: rgb(235, 235, 235);
    width: 75%;
    height: 80%;
    border: 10px double rgb(0, 0, 0);
    border-radius: 30px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: none;
    transform: translateY(-500px);
    transition: none;
}

.cont-configuration:hover {
    width: 80%;
    height: 85%;
}

.cont-configuration h2 {
    grid-column: 1/3;
    justify-self: center;
    font-size: 30px;
    margin-bottom: -5px;
}

.cont-configuration div > label{
    font-size: 25px;
    margin-right: 15px;
}

.cont-configuration div {
    padding: 0;
    margin-left: 50px;
}

.switch-label {
    display: inline-block;
    width: 55px;
    height: 30px;
    background-color: gray;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    top: 17px;
}

.switch-input:checked + .switch-label {
    background-color: #61A0FF;
}

.switch-label:after {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 100px;
    left: 4px;
    top: 4px;
    transition: 0.5s;
}

.switch-input:checked + .switch-label:after {
    left: 28px;
}

.cont-configuration input {
    display: none;
}

.icon-setting {
    display: none;
    position: absolute;
    align-self: flex-end;
    top: 15px;
    right: 25px;
    background: none;
    border: none;
    transition: all 1.5s;
}

.icon-setting img {
    width: 40px;
    cursor: pointer;
    animation: none;
    transition: none;
}

.icon-setting img:hover {
    transform: rotate(-60deg);
}

@keyframes rotateIcon {
    0% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(60deg);
    }
    100% {
        transform: rotate(90deg);
    }
}


.container-note {
    text-align: center;
    display: flex;
    align-items: center;
    height: 66px;
    font-weight: 900;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1s, opacity 2s;
}